.App {
  padding: 2%;
  box-sizing: border-box;
}
.dialog{
  color: red;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 10px;
}

label {
  font-weight: bold;
}
input {
  font-size: 17px;
  padding: 1%;
  box-sizing: border-box;
}

.formDiv {
  display: flex;
  padding: 2%;
  box-sizing: border-box;
  justify-content: space-around;
}
h1 {
  margin: 0;
  text-decoration: underline;
}
.imageDiv > div {
  width: 600px;
  height: 500px;
  margin-top: 20px;
  text-align: center;
}
.imageDiv > div > img {
  height: 100%;
  width: 100%;
}
.tableDiv {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1%;
  box-sizing: border-box;
}
.upload{
  font-size: 18px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin-top:10px ;
  margin-bottom: 20px;
  cursor: pointer;
}

table {
  width: 100%;
}
tbody>tr:nth-child(even){
  background-color: rgb(195, 218, 228);
}
thead{
  background-color: bisque;
  
}
thead>tr>th{
  padding: 1%;
  font-size: 18px;
}
.delete{
  cursor: pointer;
  
}
.delete:hover{
  color: red;
}
